@import '../node_modules/seasketch-reporting-api/stylesheets/common.less';

.reportView .demo {
  .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
}

.conn_values{
	display:inline-block;
	padding-left:5px;
}

.arc path {
  stroke: #fff;
}

.pie-label{
	font-weight:bold;
  padding-left:5px;
  display:inline;
  vertical-align:middle;
}

.pie-label-swatch{
  border-style:solid;
  border-width:1px;
  border-color:#fff;
  opacity:1.0;
  width:16px;
  height:16px;
  margin-top:3px;
  margin-left:5px;
  display:inline-block;
  vertical-align:middle;
}

.represented_habs_pie{
  width:100px;
  display:inline-block;
}
.replicated_habs_pie{
  width:100px;
  display:inline-block;
}
.connectivity_pie{
  width:100px;
  display:inline-block;
}
.connectivity_pie_legend{
  width:300px;
  height:30px;
  padding-top:5px;
  display:inline-block;
  vertical-align:top;
  
}
.represented_habs_pie_legend{
  width:300px;
  height:30px;
  padding-top:5px;
  vertical-align:top;
  display:inline-block;
}

.replicated_habs_pie_legend{
  width:300px;
  height:30px;
  padding-top:5px;
  vertical-align:top;
  display:inline-block;
}

.legend-row{
  display:inline-block;
  width:300px;
}
.no-data {
  text-align:center;
  font-style:italic;
  margin-top:5px;
}

.in-report-header {
  font-weight:bold;
  padding-left:5px;
  padding-top:14px;
  padding-bottom:2px;
}

.is_avg{
  font-weight:bold;
}
.not_avg{
  font-weight:plain;
}