{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

<div class="reportSection tableContainer">
  <h4>Habitats Present in {{#isCollection}}Collection{{/isCollection}}{{^isCollection}}Sketch{{/isCollection}} <a href="#" data-toggle-node="5536dbb48c5b43eb0facbc5a" data-visible="false">show layer</a></h4>
    <p>
      <i>
        Area (%) refers to the percentage of the habitat contained within the 
        {{#isGeneric}}collection{{/isGeneric}}{{^isGeneric}}network{{/isGeneric}}
        {{^isCollection}}sketch{{/isCollection}} as a proportion of the total area of habitat within the South-East Marine region.
      </i>
    </p>

    <p class="in-report-header">Coastal Habitat Types</p>
      {{#d3IsPresent}}
        <table data-paging="20" class="coastal_hab_table"> 
          <thead>
            <tr>
              <th class="sorting_col" style="width:200px;"><a class="coastal_hab_type sort_up" href="#">Habitat</a></th>
              <th><a  class="coastal_hab_new_area sort_down" href="#" >Area (km<sup>2</sup>)</a></th>
              <th><a class="coastal_hab_new_perc sort_down" href="#">Area (%)</a></th>
              {{#isMPA}}
              <th><a class="coastal_hab_represent sort_down" href="#" >Represented</th>
                {{#isCollection}}
                  <th><a class="coastal_hab_replicate sort_down" href="#" >Replicated</th>
                  <th><a class="coastal_hab_connected sort_down" href="#">Connectivity (in km)<sup>*</sup></th>
                {{/isCollection}}
              {{/isMPA}}
            </tr>
          </thead>
         <tbody class="coastal_hab_values"></tbody>
       </table>
      {{#isMPA}}
        {{#isCollection}}
          <p>
            <i>
              <sup>*</sup>General guidelines for MPA network design suggest MPA of similar habitat types to be 50-100km apart.
            </i>
          </p>
        {{/isCollection}}
      {{/isMPA}}
      {{/d3IsPresent}}
      {{^d3IsPresent}}
        <table data-paging="10">
          <thead>
            <tr>
              <th style="width:180px;">Habitat</th>
              <th>Area (km<sup>2</sup>)</th>
              <th>Area (%)</th>
              {{#isMPA}}
                <th>Represented</th>
                  {{#isCollection}}
                    <th>Replicated</th>
                    <th>Connectivity (in km)<sup>*</sup></th>
                  {{/isCollection}}
              {{/isMPA}}
            </tr>
          </thead>
          <tbody>
            {{#hasCoastalHabTypes}}
              {{#coastal_hab_types}}
              <tr>
                <td>{{HAB_TYPE}}</td>
                <td>{{SIZE_SQKM}}</td>
                <td>{{PERC}}</td>
                {{#isMPA}}
                  <td>{{REPRESENT}}</td>
                  {{#isCollection}}<td>{{REPLIC}}</td><td>{{CONN}}</td>{{/isCollection}}
                {{/isMPA}}
              </tr>
              {{/coastal_hab_types}}
            {{/hasCoastalHabTypes}}
            {{^hasCoastalHabTypes}}
              <tr>
                <td colspan="{{#isCollection}}5{{/isCollection}}{{^isCollection}}4{{/isCollection}}">
                  <i>There are no coastal habitat types.</i>
                </td>
              </tr>
            {{/hasCoastalHabTypes}}
          </tbody>
        </table>
        {{#isMPA}}
        {{#isCollection}}
          <p>
            <i>
              <sup>*</sup>General guidelines for MPA network design suggest MPA of similar habitat types to be 50-100km apart.
            </i>
          </p>
        {{/isCollection}}
      {{/isMPA}}
    {{/d3IsPresent}}

    <p class="in-report-header">Estuarine Habitat Types</p>
      {{#d3IsPresent}}
        <table data-paging="20" class="estuarine_hab_table"> 
          <thead>
            <tr>
              <th class="sorting_col" style="width:200px;"><a class="estuarine_hab_type sort_up" href="#">Habitat</a></th>
              <th><a  class="estuarine_hab_new_area sort_down" href="#" >Area (km<sup>2</sup>)</a></th>
              <th><a class="estuarine_hab_new_perc sort_down" href="#">Area (%)</a></th>
              {{#isMPA}}
              <th><a class="estuarine_hab_represent sort_down" href="#" >Represented</th>
                {{#isCollection}}
                  <th><a class="estuarine_hab_replicate sort_down" href="#" >Replicated</th>
                  <th><a class="estuarine_hab_connected sort_down" href="#">Connectivity (in km)<sup>*</sup></th>
                {{/isCollection}}
              {{/isMPA}}
            </tr>
          </thead>
         <tbody class="estuarine_hab_values"></tbody>
       </table>
      {{#isMPA}}
        {{#isCollection}}
          <p>
            <i>
              <sup>*</sup>General guidelines for MPA network design suggest MPA of similar habitat types to be 50-100km apart.
            </i>
          </p>
        {{/isCollection}}
      {{/isMPA}}
      {{/d3IsPresent}}
      {{^d3IsPresent}}
        <table data-paging="10">
          <thead>
            <tr>
              <th style="width:180px;">Habitat</th>
              <th>Area (km<sup>2</sup>)</th>
              <th>Area (%)</th>
              {{#isMPA}}
                <th>Represented</th>
                  {{#isCollection}}
                    <th>Replicated</th>
                    <th>Connectivity (in km)<sup>*</sup></th>
                  {{/isCollection}}
              {{/isMPA}}
            </tr>
          </thead>
          <tbody>
            {{#hasEstuarineHabTypes}}
              {{#estuarine_hab_types}}
              <tr>
                <td>{{HAB_TYPE}}</td>
                <td>{{SIZE_SQKM}}</td>
                <td>{{PERC}}</td>
                {{#isMPA}}
                  <td>{{REPRESENT}}</td>
                  {{#isCollection}}<td>{{REPLIC}}</td><td>{{CONN}}</td>{{/isCollection}}
                {{/isMPA}}
              </tr>
              {{/estuarine_hab_types}}
            {{/hasEstuarineHabTypes}}
            {{^hasEstuarineHabTypes}}
              <tr>
                <td colspan="{{#isCollection}}5{{/isCollection}}{{^isCollection}}4{{/isCollection}}">
                  <i>There are no estuarine habitat types.</i>
                </td>
              </tr>
            {{/hasEstuarineHabTypes}}
          </tbody>
        </table>
        {{#isMPA}}
        {{#isCollection}}
          <p>
            <i>
              <sup>*</sup>General guidelines for MPA network design suggest MPA of similar habitat types to be 50-100km apart.
            </i>
          </p>
        {{/isCollection}}
      {{/isMPA}}
    {{/d3IsPresent}}


    <p class="in-report-header">Sensitive Marine Habitats</p>
      {{#d3IsPresent}}
      <table data-paging="20" class="sig_hab_table"> 
        <thead>
          <tr>
            <th class="sorting_col" style="width:200px;"><a class="sig_hab_type sort_down" href="#">Habitat</a></th>
            <th><a  class="sig_hab_new_area sort_up" href="#" >Area (km<sup>2</sup>)</a></th>
            <th><a class="sig_hab_new_perc sort_down" href="#">Area (%)</a></th>
            {{#isMPA}}
              <th><a class="sig_hab_represent sort_down" href="#">Represented</th>
              {{#isCollection}}
                <th><a class="sig_hab_replicate sort_down" href="#">Replicated</th>
                <th><a class="sig_hab_connected sort_down" href="#">Connectivity (in km)<sup>*</sup> </th>
              {{/isCollection}}
            {{/isMPA}}
          </tr>
        </thead>
       <tbody class="sig_hab_values"></tbody>
     </table>
      {{#isMPA}}
        {{#isCollection}}
          <p>
            <i>
              <sup>*</sup>General guidelines for MPA network design suggest MPA of similar habitat types to be 50-100km apart.
            </i>
          </p>
        {{/isCollection}}
      {{/isMPA}}
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:180px;">Habitat</th>
            <th>Area (km<sup>2</sup>)</th>
            <th>Area (%)</th>
              {{#isMPA}}
                <th>Represented</th>
                  {{#isCollection}}
                    <th>Replicated</th>
                    <th>Connectivity (in km)<sup>*</sup></th>
                  {{/isCollection}}
              {{/isMPA}}
          </tr>
        </thead>
        <tbody>
        {{#hasSigHabs}}
          {{#sig_habs}}
            <tr>
              <td>{{HAB_TYPE}}</td>
              <td>{{SIZE_SQKM}}</td>
              <td>{{PERC}}</td>
              {{#isMPA}}
                <td>{{REPRESENT}}</td>
                {{#isCollection}}<td>{{REPLIC}}</td><td>{{CONN}}</td>{{/isCollection}}
              {{/isMPA}}
            </tr>
          {{/sig_habs}}
        {{/hasSigHabs}}
        {{^hasSigHabs}}
          <tr>
              <td colspan="{{#isCollection}}5{{/isCollection}}{{^isCollection}}4{{/isCollection}}">
                <i>There are no habitats of significance.</i>
              </td>
          </tr>
        {{/hasSigHabs}}
        </tbody>
      </table>
      {{#hasSigHabs}}
        {{#isMPA}}
          {{#isCollection}}
            <p>
              <i>
                <sup>*</sup>General guidelines for MPA network design suggest MPA of similar habitat types to be 50-100km apart.
              </i>
            </p>
          {{/isCollection}}
        {{/isMPA}}
      {{/hasSigHabs}}
    {{/d3IsPresent}}
    <p>
      <em>Sensitive habitats are defined in the report '<a href="https://www.mfe.govt.nz/sites/default/files/sensitive-marine-benthic-habitats-defined.pdf" target="_blank">Sensitive marine benthic habitats defined</a>.' ’NA’ indicates that the habitat is likely to be present in the region but not mapped.</em>
    </p>
  </div>
{{#showAdjacent}}
  <div class="reportSection tableContainer">
    <h4>Adjacent Terrestrial Information</h4>
        <p><em>MPA Guidelines: "Consider adjacent terrestrial environment" (areas shown below are within 100m of {{#isCollection}}a sketch in the collection{{/isCollection}}{{^isCollection}} the sketch {{/isCollection}})</em></p>
        <p class="large"><strong>Protected Areas</strong></p>
        <table data-paging="20">
          <tbody>
            {{#hasProtected}}
              {{#protected_areas}}
              <tr>
                <td>{{NAME}}</td>
              </tr>
              {{/protected_areas}}
            {{/hasProtected}}
            {{^hasProtected}}
              <tr>
                <td><em>None Present</em></td>
              </tr>
            {{/hasProtected}}
          </tbody>
        </table>
        <p class="large"><strong>Conservation Covenants</strong></p>
        <table data-paging="10">
          <tbody>
            {{#hasCovenants}}
              {{#qe2_covenants}}
              <tr>
                <td>{{NAME}}</td>
              </tr>
              {{/qe2_covenants}}
              {{#napalis_covenants}}
              <tr>
                <td>{{NAME}}</td>
              </tr>
              {{/napalis_covenants}}
            {{/hasCovenants}}
            {{^hasCovenants}}
              <tr>
                <td><em>None Present</em></td>
              </tr>
            {{/hasCovenants}}
          </tbody>
        </table>
  </div>
{{/showAdjacent}}

