{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

<div class="reportSection tableContainer">
  <h4>Habitats Present in {{#isCollection}}Collection{{/isCollection}}{{^isCollection}}Sketch{{/isCollection}} <a href="#" data-toggle-node="5536dbb48c5b43eb0facbc5a" data-visible="false">show layer</a></h4>
    <p>
      <i>
        Area (%) refers to the percentage of the habitat contained within the 
        {{#isGeneric}}collection{{/isGeneric}}{{^isGeneric}}network{{/isGeneric}}
        {{^isCollection}}sketch{{/isCollection}} as a proportion of the total area of habitat within the South-East Marine region. {{#isMPA}}Only habitats that meet criteria for a viable habitat size are included as a ‘represented’ habitat.{{/isMPA}}
      </i>
    </p>
    <p class="in-report-header">Habitat types</p>
      {{#d3IsPresent}}
        <table data-paging="20" class="hab_table"> 
          <thead>
            <tr>
              <th class="sorting_col" style="width:200px;"><a class="hab_type sort_up" href="#">Habitat</a></th>
              <th><a  class="hab_new_area sort_down" href="#" >Area (km<sup>2</sup>)</a></th>
              <th><a class="hab_new_perc sort_down" href="#">Area (%)</a></th>
              {{#isMPA}}
              <th><a class="hab_represent sort_down" href="#" >Represented</th>
                {{#isCollection}}
                  <th><a class="hab_replicate sort_down" href="#" >Replicated</th>
                  <th><a class="hab_connected sort_down" href="#">Connected</th>
                {{/isCollection}}
              {{/isMPA}}
            </tr>
          </thead>
         <tbody class="hab_values"></tbody>
       </table>
      {{/d3IsPresent}}
      {{^d3IsPresent}}
        <table data-paging="10">
          <thead>
            <tr>
              <th style="width:180px;">Habitat</th>
              <th>Area (km<sup>2</sup>)</th>
              <th>Area (%)</th>
              {{#isMPA}}
              <th>Represented</th>
                {{#isCollection}}
                  <th>Replicated</th>
                  <th>Connected</th>
                {{/isCollection}}
              {{/isMPA}}
            </tr>
          </thead>
          <tbody>
            {{#hasHabTypes}}
              {{#hab_types}}
              <tr>
                <td>{{HAB_TYPE}}</td>
                <td>{{SIZE_SQKM}}</td>
                <td>{{PERC}}</td>
                {{#isMPA}}
                  <td>{{REPRESENT}}</td>
                  {{#isCollection}}<td>{{REPLIC}}</td><td>{{CONN}}</td>{{/isCollection}}
                {{/isMPA}}
              </tr>
              {{/hab_types}}
            {{/hasHabTypes}}
            {{^hasHabTypes}}
              <tr>
                <td colspan="{{#isCollection}}5{{/isCollection}}{{^isCollection}}4{{/isCollection}}">
                  <i>There are no habitat types.</i>
                </td>
              </tr>
            {{/hasHabTypes}}
          </tbody>
        </table>
    {{/d3IsPresent}}
    <p class="in-report-header">Habitats of Significance</p>
      {{#d3IsPresent}}
      <table data-paging="20" class="sig_hab_table"> 
        <thead>
          <tr>
            <th class="sorting_col" style="width:200px;"><a class="sig_hab_type sort_up" href="#">Habitat</a></th>
            <th><a  class="sig_hab_new_area sort_down" href="#" >Area (km<sup>2</sup>)</a></th>
            <th><a class="sig_hab_new_perc sort_down" href="#">Area (%)</a></th>
            {{#isMPA}}
              <th><a class="sig_hab_represent sort_down" href="#">Represented</th>
              {{#isCollection}}
                <th><a class="sig_hab_replicate sort_down" href="#">Replicated</th>
                <th><a class="sig_hab_connected sort_down" href="#">Connected</th>
              {{/isCollection}}
            {{/isMPA}}
          </tr>
        </thead>
       <tbody class="sig_hab_values"></tbody>
     </table>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:180px;">Habitat</th>
            <th>Area (km<sup>2</sup>)</th>
            <th>Area (%)</th>
            {{#isMPA}}
            <th>Represented</th>
            {{#isCollection}}<th>Replicated</th>{{/isCollection}}
            {{/isMPA}}
          </tr>
        </thead>
        <tbody>
        {{#hasSigHabs}}
          {{#sig_habs}}
            <tr>
              <td>{{HAB_TYPE}}</td>
              <td>{{SIZE_SQKM}}</td>
              <td>{{PERC}}</td>
              {{#isMPA}}
                <td>{{REPRESENT}}</td>
                {{#isCollection}}<td>{{REPLIC}}</td><td>{{CONN}}</td>{{/isCollection}}
              {{/isMPA}}
            </tr>
          {{/sig_habs}}
        {{/hasSigHabs}}
        {{^hasSigHabs}}
          <tr>
              <td colspan="{{#isCollection}}5{{/isCollection}}{{^isCollection}}4{{/isCollection}}">
                <i>There are no habitats of significance.</i>
              </td>
          </tr>
        {{/hasSigHabs}}
        </tbody>
      </table>
    {{/d3IsPresent}}
  </div>
{{#showAdjacent}}
  <div class="reportSection tableContainer">
    <h4>Adjacent Terrestrial Information</h4>
        <p><em>MPA Guidelines: "Consider adjacent terrestrial environment" (areas shown below are within 100m of {{#isCollection}}a sketch in the collection{{/isCollection}}{{^isCollection}} the sketch {{/isCollection}})</em></p>
        <p class="large"><strong>Protected Areas</strong></p>
        <table data-paging="20">
          <tbody>
            {{#hasProtected}}
              {{#protected_areas}}
              <tr>
                <td>{{NAME}}</td>
              </tr>
              {{/protected_areas}}
            {{/hasProtected}}
            {{^hasProtected}}
              <tr>
                <td><em>None Present</em></td>
              </tr>
            {{/hasProtected}}
          </tbody>
        </table>
        <p class="large"><strong>Conservation Covenants</strong></p>
        <table data-paging="10">
          <tbody>
            {{#hasCovenants}}
              {{#qe2_covenants}}
              <tr>
                <td>{{NAME}}</td>
              </tr>
              {{/qe2_covenants}}
              {{#napalis_covenants}}
              <tr>
                <td>{{NAME}}</td>
              </tr>
              {{/napalis_covenants}}
            {{/hasCovenants}}
            {{^hasCovenants}}
              <tr>
                <td><em>None Present</em></td>
              </tr>
            {{/hasCovenants}}
          </tbody>
        </table>
  </div>
{{/showAdjacent}}

