{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
{{#anyAttributes}}
<div class="reportSection">
  <h4>{{sketchClass.name}}</h4>
  {{>attributes/attributesTable}}
  </table>
</div>
{{/anyAttributes}}

<div class="reportSection tableContainer">
  <h4>Habitats Present in {{#isCollection}}Collection{{/isCollection}}{{^isCollection}}Sketch{{/isCollection}} <a href="#" data-toggle-node="53a0a31cd3f6064d2c17580c" data-visible="false">show layer</a></h4>
    {{#d3IsPresent}}
      <table data-paging="20" class="hab_table"> 
        <thead>
          <tr>
            <th class="sorting_col" style="width:250px;"><a class="hab_type sort_up" href="#">Habitat Classification Type</a></th>
            <th><a  class="hab_new_area sort_down" href="#" >Area (ha)</a></th>
            <th><a class="hab_new_perc sort_down" href="#">Area (%)</a></th>
          </tr>
        </thead>
        <tbody class="hab_values"></tbody>
      </table>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:250px;">Habitats</th>
            <th>Area (ha)</th>
            <th>Area (%)</th>
          </tr>
        </thead>
        <tbody>
          {{#habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{SIZE_HA}}</td>
            <td>{{SIZE_PERC}}</td>
          </tr>
          {{/habitats}}
        </tbody>
      </table>
    {{/d3IsPresent}}
    </br>
    <p>
      <p class="large">
        <strong>Habitat Evenness</strong></br>
        The measure of 'evenness' for the <strong>{{habs_in_sketch}}</strong> habitat{{#habs_plural}}s{{/habs_plural}} present in the {{#isCollection}}Collection{{/isCollection}}{{^isCollection}}Sketch{{/isCollection}} is <strong>{{evenness}}</strong>.
      </p>
      <p>
        <em>Evenness is a measure of the relative abundance of habitats within an area, where a high number approaching 
        1 means all the habitats are relatively similar in size, and a low number indicating that the habitats are varied 
        in their size. A higher habitat evenness score generally indicates a higher species diversity. 
        Evenness has been calculated using the Simpson's E index.</em>
      </p>
    </p>
</div>
<div class="reportSection tableContainer">
  <h4>Adjacent Terrestrial Information</h4>
      <p><em>MPA Guidelines: "Consider adjacent terrestrial environment" (areas shown below are within 100m of {{#isCollection}}a sketch in the collection{{/isCollection}}{{^isCollection}} the sketch {{/isCollection}})</em></p>
      <p class="large"><strong>Public Conservation Land</strong></p>
      <table data-paging="10">
        <tbody>
          {{#hasPublicLand}}
            {{#public_land}}
            <tr>
              <td>{{NAME}}</td>
            </tr>
            {{/public_land}}
          {{/hasPublicLand}}
          {{^hasPublicLand}}
            <tr>
              <td><em>None Present</em></td>
            </tr>
          {{/hasPublicLand}}
        </tbody>
      </table>
      <p class="large"><strong>Coastal Protection and Recreation Areas (CPA & CRA)</strong></p>
      <table data-paging="10">
        <tbody>
          {{#hasCoastalLand}}
            {{#coastal_land}}
            <tr>
              <td>{{NAME}}</td>
            </tr>
            {{/coastal_land}}
          {{/hasCoastalLand}}
          {{^hasCoastalLand}}
            <tr>
              <td><em>None Present</em></td>
            </tr>
          {{/hasCoastalLand}}
        </tbody>
      </table>
      <p class="large"><strong>Adjacent Land Cover (LCDB4)</strong></p>
      <table data-paging="10">
        <tbody>
          {{#hasAdjacentLand}}
            {{#adjacent_land}}
            <tr>
              <td>{{NAME}}</td>
            </tr>
            {{/adjacent_land}}
          {{/hasAdjacentLand}}
          {{^hasAdjacentLand}}
            <tr>
              <td><em>None Present</em></td>
            </tr>
          {{/hasAdjacentLand}}
        </tbody>
      </table>
</div>

{{#hasSpecies}}
<div class="reportSection tableContainer">
  <h4>Species Information</h4>
      {{#hasSeabirds}}
        <p class="large"><strong>Important Seabird Areas</strong></p>
        <table data-paging="10">
          <tbody>
            {{#seabirds}}
            <tr>
              <td>{{Name}}</td>
            </tr>
            {{/seabirds}}
          </tbody>
        </table>
      {{/hasSeabirds}}
      {{#hasMammals}}
        <p class="large"><strong>Marine Mammals</strong></p>
        <table data-paging="10">
          <thead>
            <tr>
              <th>Species</th>
              <th>Number of Sightings</th>
            </tr>
          </thead>
          <tbody>
            {{#mammals}}
            <tr>
              <td>{{Name}}</td>
              <td>{{Count}}</td>
            </tr>
            {{/mammals}}
          </tbody>
        </table>
      {{/hasMammals}}
      {{#inHighDiversityReefFishArea}}
        </br><p class="large"><strong>Reef Fish Diversity</strong></p>
        <p>{{#isCollection}}A sketch within the collection{{/isCollection}}{{^isCollection}}The sketch {{/isCollection}} is located in an area predicted to <strong>have a high diversity of reef fish</strong>.</p>
      {{/inHighDiversityReefFishArea}}
</div>
{{/hasSpecies}}
{{^hasSpecies}}
  <div class="reportSection tableContainer">
    <h4>Species Information</h4>
        <p>The {{#isCollection}}sketches within the collection do {{/isCollection}}{{^isCollection}}sketch does{{/isCollection}} <strong>not</strong> include any <strong>important species areas</strong>.</p>
  </div>
{{/hasSpecies}}
