{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
{{#anyAttributes}}
<div class="reportSection">
  <h4>{{sketchClass.name}}</h4>
  {{>attributes/attributesTable}}
  </table>
</div>
{{/anyAttributes}}
<div class="reportSection tableContainer">
  <h4>Customary Areas</h4>
      <p> The sketch includes the following existing Customary Areas:</p>
      <table data-paging="10">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{#customary_fishing_existing}}
          <tr>
            <td>{{FEAT_TYPE}}</td>
          </tr>
          {{/customary_fishing_existing}}
        </tbody>
      </table>
</div>
