{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}


  {{#isMPA}}
    <div class="reportSection tableContainer">
      <h4>Trawl Fishing Intensity</h4>
        <p class="large">
          The following table contains the percent of the total SEMPF low intensity and high intensity trawl fishing that may be displaced by the sketch. <i>High intensity is greater than an average of 5 events per annum, Low is 5 or less events per annum.</i>
        </p>
          <table data-paging="10">
            <thead>
              <tr>
                <th>Sketch Name</th>
                <th>% Low Intensity</th>
                <th>% High Intensity</th>
                <th>Total %</th>

              </tr>
            </thead>
            <tbody>
              {{#trawl}}
              <tr>
                <td>{{NAME}}</td>
                <td>{{LOW}}</td>
                <td>{{HIGH}}</td>
                <td>{{TOTAL}}</td>
              </tr>
              {{/trawl}}
            </tbody>
          </table>
    </div>
    <div class="reportSection tableContainer">
      <h4>Set Net Fishing Intensity</h4>
        <p class="large">
          The following table contains the percent of the total SEMPF low intensity and high intensity set net fishing that may be displaced by the sketch. <i>High intensity is greater than an average of 5 events per annum, Low is 5 or less events per annum.</i>
        </p>
          <table data-paging="10">
            <thead>
              <tr>
                <th>Sketch Name</th>
                <th>% Low Intensity</th>
                <th>% High Intensity</th>
                <th>Total %</th>

              </tr>
            </thead>
            <tbody>
              {{#setnet}}
              <tr>
                <td>{{NAME}}</td>
                <td>{{LOW}}</td>
                <td>{{HIGH}}</td>
                <td>{{TOTAL}}</td>
              </tr>
              {{/setnet}}
            </tbody>
          </table>
    </div>
    <div class="reportSection tableContainer">
      <h4>Long Line Fishing Intensity</h4>
        <p class="large">
          The following table contains the percent of the total SEMPF low intensity and high intensity long line fishing that may be displaced by the sketch. <i>High intensity is greater than an average of 5 events per annum, Low is 5 or less events per annum.</i>
        </p>
          <table data-paging="10">
            <thead>
              <tr>
                <th>Sketch Name</th>
                <th>% Low Intensity</th>
                <th>% High Intensity</th>
                <th>Total %</th>

              </tr>
            </thead>
            <tbody>
              {{#longline}}
              <tr>
                <td>{{NAME}}</td>
                <td>{{LOW}}</td>
                <td>{{HIGH}}</td>
                <td>{{TOTAL}}</td>
              </tr>
              {{/longline}}
            </tbody>
          </table>

    </div>
  {{/isMPA}}

{{^isMPA}}
  {{#hasAnyFishing}}
    {{#hasExistingFishing}}
    <div class="reportSection tableContainer">
      <h4>Existing Fisheries Management</h4>
          <p><em>The {{#isCollection}}Collection{{/isCollection}}{{^isCollection}}Sketch{{/isCollection}} includes the following existing fisheries restrictions. 
          Also shown is the extent that the fisheries restrictions apply to the {{#isCollection}}sketches{{/isCollection}}
          {{^isCollection}}sketch{{/isCollection}} as a percentage of total sketch area. For example, 100% means no fishing of that type is currently allowed within the sketch.</em></p>
          <table data-paging="10">
            <thead>
              <tr>
                <th style="width:250px;">Name</th>
                <th>Percent</th>
              </tr>
            </thead>
            <tbody>
              {{#existing_fishing_areas}}
              <tr>
                <td>{{FEAT_TYPE}}</td>
                <td>{{PERC_AREA}}</td>
              </tr>
              {{/existing_fishing_areas}}
            </tbody>
          </table>
    </div>
    {{/hasExistingFishing}}
    {{#hasCustomary}}
    <div class="reportSection tableContainer">
      <h4>Customary Areas</h4>
      {{#hasExistingCustomary}}
        <p> The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} includes the following <strong>existing</strong> Customary Areas:</p>
        <table data-paging="10">
          <tbody>
            {{#existing_customary_fishing}}
            <tr>
              <td>{{FEAT_TYPE}}</td>
            </tr>
            {{/existing_customary_fishing}}
          </tbody>
        </table>
      {{/hasExistingCustomary}}
      {{#hasProposedCustomary}}
        <p> The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} includes the following <strong>proposed</strong> Customary Areas:</p>
        <table data-paging="10">
          <tbody>
            {{#proposed_customary_fishing}}
            <tr>
              <td>{{FEAT_TYPE}}</td>
            </tr>
            {{/proposed_customary_fishing}}
          </tbody>
        </table>
      {{/hasProposedCustomary}}
    </div>
    {{/hasCustomary}}

{{/hasAnyFishing}}
{{^hasAnyFishing}}
  <div class="reportSection tableContainer">
    <h4>Existing or Customary Areas</h4>
        <p>No information on existing fishing areas or customary use is available for this area.</p>
  </div>
{{/hasAnyFishing}}
{{/isMPA}}
