{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

{{#isCollection}}
  {{#isMPA}}
    <div class="reportSection size">
      <h4>MPA Network</h4>
      <p class="large">
        This Collection has: <strong>{{num_reserves}} Type-1 MPA{{#plural_type1}}s{{/plural_type1}}, {{num_type2}} Type-2 MPA{{#plural_type2}}s{{/plural_type2}}, and {{num_other}} Other MPA{{#plural_other}}s{{/plural_other}}</strong> .
        <em>Only Type-1 and Type-2 MPAs are reported on.</em>
      </p>
    </div>
  {{/isMPA}}
{{/isCollection}}

{{^isCollection}}
    {{#anyAttributes}}
      <div class="reportSection">
        <h4>{{sketchClass.name}}</h4>
        {{>attributes/attributesTable}}
        {{#isCollection}}
        <tr><td>{{#isMPA}}Number of MPAs{{/isMPA}}{{#isGeneric}}Number of Sketches{{/isGeneric}}</td>{{numSketches}}<td>
        {{/isCollection}}
        </table>
      </div>
  {{/anyAttributes}}
{{/isCollection}}

  {{#isGeneric}}
    {{#isCollection}}
    <div class="reportSection">
      <h4>Number of Sketches in Collection</h4>
      <p class="large">
        This collection contains <strong>{{numSketches}}</strong> sketch{{#pluralSketches}}es{{/pluralSketches}}.
      </p>
    </div>
    {{/isCollection}}
  {{/isGeneric}}

  {{#isMPA}}
    {{#isCollection}}
    <div class="reportSection size">
      <h4>Coastal Habitats Represented in Type-1 MPA
        <a href="#" data-toggle-node="53a0a31cd3f6064d2c17580c" data-visible="false">show layer</a></h4>
      {{^d3IsPresent}}
      <strong>Number of Habitat Classes</strong></br>
      <p style="margin-top:0px;" class="large">
        There are <strong>{{total_habs}}</strong> habitat classes in the planning region, and your {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}}
        includes <strong>{{new_habs}}</strong>. For more information on the Habitat Classification, see
        the <a href="http://www.doc.govt.nz/Documents/conservation/marine-and-coastal/marine-protected-areas/mpa-classification-protection-standard.pdf" target="_blank">
        Marine Protected Areas Classification and Protection Standard</a>
      </p>
      {{/d3IsPresent}}
      {{#d3IsPresent}}
        <div>
          <div class="represented_habs_pie" id="represented_habs_pie"></div>
          <div class="represented_habs_pie_legend" id="represented_habs_pie_legend"></div>
        </div>
      {{/d3IsPresent}}
    </div>
    

    <div class="reportSection size">
      <h4>Coastal Habitats Replicated
        <a href="#" data-toggle-node="53a0a31cd3f6064d2c17580c" data-visible="false">show layer</a>
      </h4>
      {{^d3IsPresent}}
        <strong>Number of Habitat Classes</strong></br>
        <p style="margin-top:0px;" class="large">
          There are <strong>{{total_habs}}</strong> habitat classes in the planning region, and your {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}}
          includes <strong>{{new_habs}}</strong>. For more information on the Habitat Classification, see
          the <a href="http://www.doc.govt.nz/Documents/conservation/marine-and-coastal/marine-protected-areas/mpa-classification-protection-standard.pdf" target="_blank">
          Marine Protected Areas Classification and Protection Standard</a>
        </p>
      {{/d3IsPresent}}
      {{#d3IsPresent}}
      <div>
        <div class="replicated_habs_pie" id="replicated_habs_pie"></div>
        <div class="replicated_habs_pie_legend" id="replicated_habs_pie_legend"></div>
      </div>
    {{/d3IsPresent}}
    </div>
    {{/isCollection}}
  {{/isMPA}}

{{#isCollection}}
  <div class="reportSection size">
    <h4>{{#isMPA}}MPA Sizes{{/isMPA}}{{#isGeneric}}Sketch Sizes{{/isGeneric}}</h4>
    <!--
    {{#isMPA}}
      <p class="large">
        Of the <strong>{{total_mpa_count}}</strong> MPAs in the network, <strong>{{mpa_count}}</strong> meet{{^plural_mpa_count}}s{{/plural_mpa_count}} the minimum size dimension of 5km. The average minimum dimension is <strong>{{mpa_avg_size_guideline}}</strong> the 10-20km guideline.
      </p>
    {{/isMPA}}
    {{#isGeneric}}
      <p>The size of the sketches in this collection are:</p>
    {{/isGeneric}}
    -->
      <table data-paging="10">
        <thead>
          <tr>
            <th>{{#isMPA}}MPA Name{{/isMPA}}{{#isGeneric}}Sketch Name{{/isGeneric}}</th>
            <th>Area </br>(sq. km.)</th>
            <th style="width:100px;">Width (km)</th>
            <th style="width:100px;">Coastline Length (km)</th>
          </tr>
        </thead>
        <tbody>
          {{#prop_sizes}}
          <tr class={{CSS_CLASS}}>
            <td>{{NAME}}</td>
            <td>{{SIZE_SQKM}}</td>
            <td>{{MIN_DIM}}</td>
            <td>{{COAST}}</td>
          </tr>
          {{/prop_sizes}}
        </tbody>
      </table>
    <p class="large">
      This combined area within the network accounts for <strong>{{area_percent}}%</strong> of the South-East Marine area, and <strong>{{coastline_length_percent}}%</strong> of the South-East coastline.
    </p>
    <p>
      <i>
        General guidelines for MPA network design suggest individual MPA should be a minimum of 5km width and the average width for a network 10-20km.
      </i>
    </p>
  </div>
{{/isCollection}}
{{^isCollection}}
  {{#isMPA}}
    <div class="reportSection size">
      <h4>MPA Size</h4>
        <table data-paging="10">
          <thead>
            <tr>
              <th>MPA Name</th>
              <th>Area </br>(sq. km.)</th>
              <th style="width:100px;">Width (km)</th>
              <th style="width:100px;">Coastline Length (km)</th>
            </tr>
          </thead>
          <tbody>
            {{#prop_sizes}}
            <tr>
              <td>{{NAME}}</td>
              <td>{{SIZE_SQKM}}</td>
              <td>{{MIN_DIM}}</td>
              <td>{{COAST}}
            </tr>
            {{/prop_sizes}}
          </tbody>
        </table>
      <p class="large">
        This area within the MPA accounts for <strong>{{area_percent}}%</strong> of the South-East Marine area, and <strong>{{coastline_length_percent}}%</strong> of the South-East coastline.
      </p>
    </div>
  {{/isMPA}}
{{/isCollection}}

{{#isMPA}}
  {{#isCollection}}
      <div class="reportSection">
        <h4>Connectivity</h4>
        {{#singleSketch}}
              <p style="font-style:italic;color:gray;" class="large">
                No connectivity information for a collection with one sketch. 
              </p>
        {{/singleSketch}}
        {{^singleSketch}}
          <!--
          <div>
            <div class="connectivity_pie" id="connectivity_pie"></div>
            <div class="connectivity_pie_legend" id="connectivity_pie_legend"></div>
          </div>
          -->
          <p class="large">Of the <strong>{{total_mpa_count}}</strong> MPAs in the network, <strong>{{connected_mpa_count}}</strong>{{#plural_connected_mpa_count}} are{{/plural_connected_mpa_count}}{{^plural_connected_mpa_count}} is{{/plural_connected_mpa_count}} within 100 km of each other. 
          </p>
          <span class="conn_values">The minimum distance between the MPAs is <strong>{{min_distance}} km</strong>.</span>
          <span class="conn_values">The maximum distance between the MPAs is <strong>{{max_distance}} km</strong>.</span>
          <span class="conn_values">The average distance between the MPAs is <strong>{{mean_distance}} km</strong>.</span>
          <p><i>General guidelines for MPA network design suggest MPA of similar habitat types to be 50-100km apart.</i></p>
        {{/singleSketch}}

      </div>
  {{/isCollection}}
{{/isMPA}}

{{^isCollection}}
  {{#isGeneric}}
    <div class="reportSection size">
      <h4>Size</h4>
      <p class="large">
        This sketch area is <strong>{{size}} square kilometers</strong>, and it includes <strong>{{coastline_length_percent}}%</strong> of the South-East Planning Region.
      </p>
      <p class="large">
        This sketch includes <strong>{{coastline_length}} kilometers</strong> of coastline.
      </p>
    </div>
    {{/isGeneric}}
{{/isCollection}}


<!--
<div class="reportSection size">
  <h4>Number of Habitats</h4>
  <p class="large">
    The {{#isMPA}} Marine Protected Area{{#isCollection}}s{{/isCollection}}{{/isMPA}}{{#isGeneric}}sketch{{#isCollection}}es{{/isCollection}}{{/isGeneric}} include{{^isCollection}}s{{/isCollection}} <strong>{{num_habs}}</strong> of the <strong>{{total_habs}}</strong> classified habitats.
</div>
-->

