{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
{{#anyAttributes}}
<div class="reportSection">
  <h4>{{sketchClass.name}}</h4>
  {{>attributes/attributesTable}}
  </table>
</div>
{{/anyAttributes}}

<div class="reportSection size">
  <h4>Size</h4>
  <p class="large">
    This sketch area is <strong>{{SIZE}} ha</strong>.
  </p>
</div>

<div class="reportSection size">
  <h4>Coastline Length</h4>
  <p class="large">
    This sketch includes <strong>{{COASTLINE_LENGTH}} meters of coastline</strong>.
  </p>
</div>

<div class="reportSection size">
  <h4>Representationn of Habitats</h4>
  <strong>Number of Habitats</strong></br>
  <p style="margin-top:0px;" class="large">
    There are <strong>{{total_habs}}</strong> habitats in the planning region, and your sketch
    includes <strong>{{new_habs}}</strong>. For more information on the Habitat Classification, see
    the <a href="http://www.doc.govt.nz/Documents/conservation/marine-and-coastal/marine-protected-areas/mpa-classification-protection-standard.pdf" target="_blank">
    Marine Protected Areas Classification and Protection Standard</a>
  </p>
  <br/><strong>Habitat Evenness</strong></br>
  <p style="margin-top:0px;" class="large">
    The measure of habitat 'Evenness' for the Sketch is <strong>{{evenness}}</strong>.
  </p>
  <p>
    <em>Evenness is a measure of the relative abundance of habitats within an area, where a high number approaching 
    1 means all the habitats are relatively similar in size, and a low number indicating that the habitats are varied 
    in their size. A higher habitat evenness score generally indicates a higher species diversity. 
    Evenness has been calculated using the Simpson's E index.</em>
  </p>
</div>