{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
{{#hasCoastal}}  
  <div class="reportSection tableContainer">
    <h4>Existing Coastal Consents <a href="#" data-toggle-node="53d719a49380174a7766dd85" data-visible="false">
      show layer</a></h4>
        <p>{{#isCollection}}A sketch within the collection{{/isCollection}}{{^isCollection}}The sketch{{/isCollection}} contains or is within 200m of sites with Resource Consents.</p>
        <table data-paging="10">
          <thead>
            <tr>
              <th style="width:250px;">Consent Type</th>
            </tr>
          </thead>
          <tbody>
            {{#coastal_consents}}
            <tr>
              <td>{{FEAT_TYPE}}</td>
            </tr>
            {{/coastal_consents}}
          </tbody>
        </table>
  </div>
{{/hasCoastal}}

{{#hasUses}}
  {{#hasRecUses}}
  <div class="reportSection tableContainer">
    <h4>Recreational Uses </h4>
      <!--
      {{#hasSmaro}}
      {{^isCollection}}
        <p><strong>Spectrum of MArine Recreational Opportunity (SMARO)</strong></p>
          <p>{{#isCollection}}Collection{{/isCollection}}{{^isCollection}}Sketch{{/isCollection}} includes area(s) identified as having <strong> medium or high </strong> recreational opportunity.
          <em>You can find more information on SMARO in the "data description" by right clicking on the layer name.</em>
        </p>
        </br></br>
      {{/isCollection}}
      {{/hasSmaro}}
      -->
        <table data-paging="10">
          <thead>
            <tr>
              <th style="width:250px;">Activity Type</th>
              <th>Number of Sites</th>
            </tr>
          </thead>
          <tbody>
            {{#hasRecUses}}
              {{#rec_uses}}
              <tr>
                <td>{{FEAT_TYPE}}</td>
                <td>{{COUNT}}</td>
              </tr>
              {{/rec_uses}}
            {{/hasRecUses}}
            {{^hasRecUses}}
              <tr>
                <td colspan=2><em>None Present</em></td>
              </tr>
            {{/hasRecUses}}
          </tbody>
        </table>
  </div>
  {{/hasRecUses}}

  {{#hasHeritage}}
    {{^isCollection}}
      <div class="reportSection tableContainer">
        <h4>Archeological Information 
          <a href="#" data-toggle-node="5578f14cff39059a583646c9" data-visible="false">show layer</a>
        </h4>
            <p>{{#isCollection}}A sketch within the collection{{/isCollection}}{{^isCollection}}The sketch{{/isCollection}} contains or is within 200m of sites identified as having significant heritage values.</p>
            <table data-paging="10">
              <thead>
                <tr>
                  <th style="width:250px;">Heritage Type</th>
                  <th>Number of Sites</th>
                </tr>
              </thead>
              <tbody>
                {{#heritage}}
                <tr>
                  <td>{{FEAT_TYPE}}</td>
                  <td>{{COUNT}}</td>
                </tr>
                {{/heritage}}
              </tbody>
            </table>
      </div>
    {{/isCollection}}
  {{/hasHeritage}}
  {{#hasInfrastructure}}
    {{^isCollection}}
      <div class="reportSection tableContainer">
        <h4>Infrastructure</h4>
            <p>{{#isCollection}}A sketch within the collection{{/isCollection}}{{^isCollection}}The sketch{{/isCollection}} contains or is within 200m of sites with existing infrastructure.</p>
            <table data-paging="10">
              <thead>
                <tr>
                  <th style="width:250px;">Type</th>
                </tr>
              </thead>
              <tbody>
                {{#infrastructure}}
                <tr>
                  <td>{{FEAT_TYPE}}</td>
                </tr>
                {{/infrastructure}}
              </tbody>
            </table>
      </div>
    {{/isCollection}}
  {{/hasInfrastructure}}
{{/hasUses}}
{{^hasUses}}
  <div class="reportSection tableContainer">
    <h4>Activities and Uses</h4>
        <p>The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}}  does <strong>not</strong> include any <strong>activities or uses</strong>.</p>
  </div>
{{/hasUses}}

{{#hasSeabirds}}
<div class="reportSection tableContainer">
  <h4>Birds </h4>
      {{#hasSeabirdAreas}}
        <p class="large"><strong>Important Seabird Areas</strong></p>
        <table data-paging="10">
          <tbody>
            {{#seabirds}}
            <tr>
              <td>{{Name}}</td>
            </tr>
            {{/seabirds}}

          </tbody>
        </table>
      {{/hasSeabirdAreas}}
    
    {{#hasSeabirdColonies}}
      <p class="large"><strong>Seabird Colonies</strong></p>
      <table data-paging="10">
        <tbody>
          {{#seabird_colonies}}
          <tr>
            <td>{{Name}}</td>
          </tr>
          {{/seabird_colonies}}
        </tbody>
      </table>
    {{/hasSeabirdColonies}}
</div>
{{/hasSeabirds}}
{{#hasMarineSpecies}}
<div class="reportSection tableContainer">
  <h4>Marine Mammals</h4>
        <table data-paging="10">
          <thead>
            <tr>
              <th>Species</th>
            </tr>
          </thead>
          <tbody>
            {{#mammals}}
            <tr>
              <td>{{Name}}</td>
            </tr>
            {{/mammals}}
            {{#seals}}
              <td>{{Name}}</td>
            {{/seals}}
          </tbody>
        </table>
</div>
{{/hasMarineSpecies}}
<!--
{{^hasMarineSpecies}}
  <div class="reportSection tableContainer">
    <h4>Species Information</h4>
        <p>The {{#isCollection}}sketches within the collection do {{/isCollection}}{{^isCollection}}sketch does{{/isCollection}} <strong>not</strong> include any <strong>important marine mammal areas</strong>.</p>
  </div>
{{/hasMarineSpecies}}
-->
{{#showAdjacent}}
  <div class="reportSection tableContainer">
    <h4>Adjacent Terrestrial Information</h4>
        <p><em>Areas shown below are within 100m of {{#isCollection}}a sketch in the collection{{/isCollection}}{{^isCollection}} the sketch {{/isCollection}}</em></p>
        <p class="large"><strong>Protected Areas</strong></p>
        <table data-paging="20">
          <tbody>
            {{#hasProtected}}
              {{#protected_areas}}
              <tr>
                <td>{{NAME}}</td>
              </tr>
              {{/protected_areas}}
            {{/hasProtected}}
            {{^hasProtected}}
              <tr>
                <td><em>None Present</em></td>
              </tr>
            {{/hasProtected}}
          </tbody>
        </table>
        <p class="large"><strong>Conservation Covenants</strong></p>
        <table data-paging="10">
          <tbody>
            {{#hasCovenants}}
              {{#qe2_covenants}}
              <tr>
                <td>{{NAME}}</td>
              </tr>
              {{/qe2_covenants}}
              {{#napalis_covenants}}
              <tr>
                <td>{{NAME}}</td>
              </tr>
              {{/napalis_covenants}}
            {{/hasCovenants}}
            {{^hasCovenants}}
              <tr>
                <td><em>None Present</em></td>
              </tr>
            {{/hasCovenants}}
          </tbody>
        </table>
  </div>
{{/showAdjacent}}